<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713540144685-c8544t0ks2li62d0dff99tpdb0fe2aht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713540144685-c8544t0ks2li62d0dff99tpdb0fe2aht</string>
	<key>API_KEY</key>
	<string>AIzaSyBD7563SC9noz7_TsgQT6m32zxYiwqk2J8</string>
	<key>GCM_SENDER_ID</key>
	<string>713540144685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ChristianWilson.Socialcademy</string>
	<key>PROJECT_ID</key>
	<string>socialcademy-a8ab7</string>
	<key>STORAGE_BUCKET</key>
	<string>socialcademy-a8ab7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713540144685:ios:ff243e3cb4f989b9d7b2a4</string>
</dict>
</plist>